---
import type { CollectionEntry } from "astro:content";
import DownloadButton from "./DownloadButton.astro";
import Link from "./Link.astro";
import Badge from "./Badge.astro";

interface Props {
  entry: CollectionEntry<"tools">;
}

const { entry } = Astro.props;

const downloadLink = entry.data.download ? `/download/tool/${entry.id}` : undefined;
---

<div class="box">
  <h3>
    {entry.data.title}{
      entry.data.archived && (
        <>
          {" "}
          <Badge icon={["solid", "archive"]} color="#887700">
            Archiviert
          </Badge>
        </>
      )
    }
  </h3>
  {
    entry.data.description && (
      <>
        <>
          <span>{entry.data.description}</span>
          <hr />
        </>
      </>
    )
  }
  <span>Sourcecode: <Link icon={["brands", "github"]} href={entry.data.github} /></span>
  {entry.data.download && <DownloadButton link={downloadLink} />}
</div>
<style>
  .box {
    padding: 1em;
    max-width: calc(var(--content-width) * 0.8);
    width: 100%;
    border: 2px white solid;
    border-radius: 0.3em;
    margin: 2em auto;
  }
  h3 {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
</style>
